.container {
  display: flex;
  height: calc(1080px - 240px);
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}

.formContainer {
  display: flex;
  width: 100%;
  max-width: 24rem; /* 24rem은 약 384px */
  flex-direction: column;
  gap: 1rem; /* 1rem은 약 16px */
  border-radius: 1rem; /* 1rem은 약 16px */
  padding: 1.5rem 2rem 2.5rem; /* 상단 1.5rem, 좌우 2rem, 하단 2.5rem */
}

.title {
  padding-bottom: 1rem; /* 1rem은 약 16px */
  text-align: center;
  font-size: 1.875rem; /* 1.875rem은 약 30px */
  font-weight: 600;
  color: rgba(0, 0, 0, 1);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.inputLabel {
  color: black;
  border: 1px solid black;
}

.input {
  color: black;
}

.input::label {
  color: rgba(0, 0, 0, 1);
  font-size: 20px;
}

.placeholder ::placeholder {
  font-weight: 500;
}

.label label {
  font-size: 16px;
  color: rgba(0, 0, 0, 1);
}
